/* Personalize seu estilo aqui */
body {
    background-color: #f8f9fa;
}

.card {
    margin-top: 30px;
}

.card-header {
    font-size: 24px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    font-size: 18px;
}
